In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('https://www2.census.gov/programs-surveys/popest/datasets/2020-2021/counties/asrh/cc-est2021-all.csv', 
                   usecols=['STATE', 'COUNTY', 'YEAR', 'AGEGRP', 'STNAME', 'TOT_POP',
                            'NHWA_MALE', 'NHWA_FEMALE', 
                            'NHIA_MALE', 'NHIA_FEMALE',
                            'NHAA_MALE', 'NHAA_FEMALE',
                            'NHBA_MALE', 'NHBA_FEMALE',
                            'H_MALE', 'H_FEMALE'], encoding='latin-1')

In [3]:
data = data[data.YEAR == 1]
data = data[data.AGEGRP == 0]
data.drop(columns=['YEAR', 'AGEGRP', 'STNAME'], inplace=True)

In [4]:
data.insert(0, "FIPS", (data.STATE * 1E3) + data.COUNTY, True)
data['FIPS'] = pd.to_numeric(data['FIPS'], downcast='integer')
data.drop(columns=['STATE', 'COUNTY'], inplace=True)
data.insert(1, "White", data.NHWA_MALE + data.NHWA_FEMALE, True)
data.drop(columns=['NHWA_MALE', 'NHWA_FEMALE'], inplace=True)
data.insert(2, "Black", data.NHBA_MALE + data.NHBA_FEMALE, True)
data.drop(columns=['NHBA_MALE', 'NHBA_FEMALE'], inplace=True)
data.insert(3, "AIAN", data.NHIA_MALE + data.NHIA_FEMALE, True)
data.drop(columns=['NHIA_MALE', 'NHIA_FEMALE'], inplace=True)
data.insert(3, "Asian", data.NHAA_MALE + data.NHAA_FEMALE, True)
data.drop(columns=['NHAA_MALE', 'NHAA_FEMALE'], inplace=True)
data.insert(4, "Hispanic", data.H_MALE + data.H_FEMALE, True)
data.drop(columns=['H_MALE', 'H_FEMALE'], inplace=True)
data = data.reset_index(drop=True)

In [5]:
data[data['FIPS'] == 2063]

    FIPS  White  Black  Asian  Hispanic  AIAN  TOT_POP
72  2063   4877     50    454       421   816     7102

In [6]:
data[data['FIPS'] == 2066]

    FIPS  White  Black  Asian  Hispanic  AIAN  TOT_POP
73  2066   1743     17     71       137   436     2617

In [7]:
data[data['FIPS'] == 2063].reset_index(drop=True) + data[data['FIPS'] == 2066].reset_index(drop=True)

   FIPS  White  Black  Asian  Hispanic  AIAN  TOT_POP
0  4129   6620     67    525       558  1252     9719

In [8]:
data.loc[72] = [2261, 6620, 67, 525, 558, 1252, 9719]

In [9]:
data.drop([73], inplace=True)

In [10]:
data.White = data.White / data.TOT_POP
data.Black = data.Black / data.TOT_POP
data.Asian = data.Asian / data.TOT_POP
data.Hispanic = data.Hispanic / data.TOT_POP
data.AIAN = data.AIAN / data.TOT_POP

In [11]:
data.drop(columns=['TOT_POP'], inplace=True)

In [12]:
data

       FIPS     White     Black     Asian  Hispanic      AIAN
0      1001  0.732591  0.202330  0.011309  0.031358  0.004234
1      1003  0.832215  0.085129  0.010813  0.046896  0.006761
2      1005  0.452365  0.478095  0.004480  0.047179  0.003727
3      1007  0.741758  0.209887  0.002153  0.029157  0.004172
4      1009  0.867200  0.015321  0.003484  0.096222  0.004769
...     ...       ...       ...       ...       ...       ...
3138  56037  0.791635  0.011071  0.009037  0.162211  0.007712
3139  56039  0.810424  0.006986  0.014359  0.150358  0.003643
3140  56041  0.870954  0.005232  0.004499  0.098044  0.006112
3141  56043  0.824854  0.004034  0.007417  0.141965  0.006116
3142  56045  0.904797  0.006288  0.013600  0.040801  0.014624

[3142 rows x 6 columns]

In [13]:
data.to_csv('./CovidMay17-2022/race_features.csv', index=False)