In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Import data from csv
ages = ['UNDER5', 'AGE517', 'AGE1829', 'AGE4049', 'AGE3039', 'AGE5064', 'AGE6574', 'AGE75PLUS']
morris = 'figures_morris_experiment1'

data = []
for i in range(len(ages)):
    x = pd.read_csv('./results/Original/' + ages[i] + '/figures/predictions.csv')
    data.append(x)

In [3]:
# Convert Date column to DateTime
for i in range(len(ages)):
    data[i]['Date'] = pd.to_datetime(data[i]['Date'])
    data[i] = data[i].sort_values(by=['Date'])
    data[i] = data[i].reset_index().drop(columns=['index'])

In [4]:
# Select date range (3/1/2020 to 11/27/2021)
for i in range(len(ages)):
    data[i] = data[i][(data[i]['Date'] >= '2020-03-07') & (data[i]['Date'] <= '2020-11-27')]

In [7]:
# Number of cases in time range
cases = []
for i in range(len(ages)):
    x = data[i]['Cases'].sum()
    cases.append(x)

# Number of predicted cases in time range
pred_cases = []
for i in range(len(ages)):
    x = data[i]['Predicted_Cases'].sum()
    pred_cases.append(x)

In [10]:
d = {'Cases (Census)': cases, 'Predicted Cases (TFT Model)': pred_cases}
df = pd.DataFrame(data=d, index=ages)

In [19]:
colors = "Blues"
df.style.background_gradient(colors)\
    .format({'Cases (Census)': '{:.3e}', 'Predicted Cases (TFT Model)': '{:.3e}'})